.Challenge {
	display: flex;
	flex-direction: column;
	padding: 6vw; // Around 20px in 320
	min-height: 100vh;
	background-color: $color-blue-2;

	.Challenge__paragraph {
		flex-grow: 10;
		color: #FFF;
		font-size: 13vw; // Around 40px in 320
		font-weight: 200;
	}

	.Challenge__highlight {
		font-weight: 400;
	}

	.Challenge__paging {
		font-size: 6vw;
		font-weight: 700;
		color: #FFF;
	}
}
